{% extends 'privbase.html' %}

{% block content %}
<h3>Datos de Grupo</h3>
<div class="container-sm">
    <form method="POST">
        <input type="hidden" name="idgroup" value="{{grupo.idgroup}}">
        <div class="mb-3">
            <label id="group_name_label" for="group_name">Nombre de Grupo</label>
            <input type="text" name="group_name" value="{{grupo.group_name}}"
                   class="form-control" >
        </div>    
        <button type="submit" class="btn btn-primary" >Guardar</button>
        <button type="button" class="btn btn-warning" 
            onclick="window.location.href='{{ url_for('bpgroups.list')}}'">Regresar</button>
    </form>
</div>
{% endblock %}
