<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='miestilo.css')}}">
        <title>{{data.titulo}}</title>
    </head>
    <body>
        <h1>Hola {{data.usuario}}, bienvenidos!!</h1>    
        <h2>Hola {{data.usuario}}, bienvenidos!!</h2>    
        <h3>Hola {{data.usuario}}, bienvenidos!!</h3>    
        <h4>Hola {{data.usuario}}, bienvenidos!!</h4>    
        <h5>Hola {{data.usuario}}, bienvenidos!!</h5>    
        <span class="encabezado">Encabezado Personalizado</span>
    </body>
</html>
