{% extends "base.html" %}
{% block title %}{{datos.title}}{% endblock %}
{% block content %}
    <div class="container-sm" style="margin-top: 100px; width: 25%">
        <h3>Ingrese sus credenciales</h3>
        <br>
        <form action="" method="post">
            <div class="mb-3">
                <label id="username_label" for="username">Usuario</label>
                <input type="text" name="username" value="{{request.form.username}}" class="form-control" >
            </div>
            <div class="mb-3">
                <label id="password_label" for="password">Contraseña</label>
                <input type="password" name="password" value="{{request.form.password}}" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" >Ingresar</button>
        </form>
        {% if error %}
            <p><strong>Error: </strong>{{error}}</p>
        {% endif %}
    </div>
{% endblock %}