{% extends 'privbase.html' %}

{% block content %}
<script>
    $(document).ready(function(){
        $("anothr").click(function(){
            alert('nuevo usuario')
            $.ajax({
                url:"/users/newUser",
                type:'POST',
                success: function(response){
                    $(body).append(response)
                }
            })
        })
    })
</script>
    <h3>Usuarios</h3>

    <form method="POST">
        <div class="btn-toolbar" role="toolbar" aria-label="Barra de herramientas">
            <div class="btn-group me-2" role="group" aria-label="Opciones">
            <button id="newUser" type="button" class="btn btn-default" 
                    onclick="window.location.href='{{ url_for('bpusers.nuevo_usuario')}}'" >Nuevo</button>
            <button id="updateUser" type="button" class="btn btn-default" >Modificar</button>
            <button id="deleteUser" type="button" class="btn btn-default" >Eliminar</button>
            </div>
        </div>
    </form>

    <table id="data" class="table table-triped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for item in users  %}
                <tr>
                    <td>{{ item.User.id}}</td>
                    <td>{{ item.User.user_name}}</td>
                    <td>{{ item.User.first_name}}</td>
                    <td>{{ item.User.last_name}}</td>
                    <td>{{ item.User.email_address}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
