{% extends 'privbase.html' %}

{% block content %}
<script>
    $(document).ready(function(){
        $("anothr").click(function(){
            alert('nuevo usuario')
            $.ajax({
                url:"/users/newUser",
                type:'POST',
                success: function(response){
                    $(body).append(response)
                }
            })
        })
    })
</script>
    <h3>Usuarios</h3>

    <form method="POST">
        <div class="btn-toolbar" role="toolbar" aria-label="Barra de herramientas">
            <div class="btn-group me-2" role="group" aria-label="Opciones">
            <button id="newUser" type="submit" class="btn btn-default" onClick="setOperation('NUEVO')" >Nuevo</button>
            
            <button id="updateUser" type="submit" class="btn btn-default" onClick="setOperation('MODIFICAR')">Modificar</button>
            <button id="deleteUser" type="submit" class="btn btn-default" onClick="setOperation('ELIMINAR')">Eliminar</button>
            </div>
        </div>
        <input id="selected_user" type="hidden" name="selected_user" value="" >
        <input id="operation" type="hidden" name="operation" value="" >
    </form>

    <table id="data" class="table table-triped">
        <thead>
            <tr>
                <th>Elegir</th>
                <th>Id</th>
                <th>Usuario</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for item in users  %}
                <tr>
                    <td><input type="checkbox" onclick="setUserSelected(this, {{ item.User.id}})" ></td>
                    <td>{{ item.User.id}}</td>
                    <td>{{ item.User.user_name}}</td>
                    <td>{{ item.User.first_name}}</td>
                    <td>{{ item.User.last_name}}</td>
                    <td>{{ item.User.email_address}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<script>
    function setUserSelected( componente, id){
        if (componente.checked){
            document.getElementById('selected_user').value = id
        } else{
            document.getElementById('selected_user').value = undefined
        }
    }
    function setOperation(operation){
        document.getElementById('operation').value = operation
    }
</script>

{% endblock %}
